.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  margin-bottom: 35px;
  background-image: url("/assets/images/home/breadcrumbs-background.png");
  a {
    color: $text-secondary-color;
    font-size: 13px;
    text-transform: capitalize;
  }
  span {
    display: inline-block;
    color: $text-secondary-color;
    padding: 0 2px;
  }
  &.address-breadcrumbs {
    background-image: unset;
    height: 70px;
    margin-bottom: 0;
  }
}