.notification-message {
  font-family: ManropeMedium, sans-serif;
  display: flex;
  align-items: center;
  max-width: 339px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  background: $secondary-color;
  color: #ffffff;
  border-radius: $border-primary;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 0 0 20px;
  &.success {
    background: #4DA44B;
  }
  &.warning {
    background: #FF9901;
  }
  &.danger {
    background: #D0080A;
  }
  a {
    position: absolute;
    right: 15px;
    top: 16px;
    &:hover {
      cursor: pointer;
    }
  }
}

.notification-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 490px;
  border: 1px solid $line-color;
  margin: auto;
  background: #ffffff;
  z-index: 11;
  display: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  &.open-cart {
    display: block;
  }

  .notification-cart-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-color;
    padding: 22px 30px;

    h6 {
      font-family: MenropeBold, sans-serif;
      color: $secondary-color;
      font-size: 18px;
    }
  }
  .notification-cart-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 25px 30px;
    border-bottom: 1px solid $line-color;

    .notification-cart-img {
      width: 100px;
      height: 100px;
      margin-right: 18px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .notification-cart-list {
      max-width: 312px;
      width: 100%;

      li {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        h6 {
          font-family: ManropeSemiBold, sans-serif;
          font-size: 18px;
          line-height: 25px;
          text-transform: lowercase;
          width: 168px;
        }

        .cart-heading-price {
          font-family: ManropeSemiBold, sans-serif;
          font-size: 18px;
        }
      }
    }

    &.item-border-none {
      border-bottom: none;
    }
  }
  .cart-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $secondary-color;
    color: white;
    padding: 22px 30px;

    .cart-footer-heading {
      font-family: MenropeBold, sans-serif;
      font-size: 18px;
      color: white;
    }

    .cart-result-price {
      font-family: MenropeBold, sans-serif;
      display: flex;
      align-items: center;
      font-size: 18px;

    }

  }

}