.page-heading-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  h2 {
    font-family: ManropeSemiBold,sans-serif;
    color: $secondary-color;
    font-size: $font-md;
    position: relative;

  }
  .line {
    width: 85%;
    height: 2px;
    background: #EDEDED;
    margin-left: 15px;
  }

}