.orderSwiper {
  max-width: 613px;
  width: 100%;
  margin-top: 10px;
  .swiper-wrapper {
    .swiper-slide {
      max-width: 613px;
      width: 100%;
    }

    &.order-slider-thumb {
      justify-content: center;
      .thumb-swiper-slide {
        width: 92px !important;
        height: 92px;
        @include for-phone-only {
          width: 75px !important;
          height: 75px;
        }
        &.swiper-slide-thumb-active {
          border: 1px solid black;
        }
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 42%;
  &:after {
    content: none;
  }
  @include for-phone-only {
    width: 30px;
    height: 30px;
  }
  i {
    @include for-phone-only {
      font-size: 12px;
    }
  }

}
.swiper-button-next {
  right: 4px;
}
.swiper-button-prev {
  left: 4px;
}
