// colors
$primary-color: #3D3838;
$secondary-color: #ED81B3;
$alternative-color: #5E5E5E;
$custom-color: #189BE5;
$line-color: #C1C1C1;






$text-primary-color: #3D3838;
$text-secondary-color: #5E5E5E;


// font-size

$font-primary: 15px;
$font-secondary: 17px;
$font-alternative: 22px;
$font-lg: 30px;
$font-md: 20px;
$font-sm: 16px;
$font-xsm: 10px;

//// line-height
//
//$line-primary: 21px;
//$line-secondary: 14px;
//$line-alternative: 27px;
//$line-xlg: 59px;
//$line-lg: 31px;
//$line-md: 26px;
//$line-sm: 25px;
//$line-xsm: 18px;

// font-weight

$weight-100: 100;
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-900: 900;

// border-radius

$border-primary: 5px;
$border-secondary: 2px;
//$border-alternative: 41px;







